PULSE_SERVER_ADDR=:8080
PULSE_ADMIN_USERNAME=admin
PULSE_ADMIN_PASSWORD=change-me
PULSE_DB_PATH=/var/lib/pulse/pulse.db
PULSE_WEB_DIR=/usr/local/share/pulse/web/panel
PULSE_SERVER_NODE_CLIENT_CERT_FILE=/etc/pulse/server_client_cert.pem
PULSE_SERVER_NODE_CLIENT_KEY_FILE=/etc/pulse/server_client_key.pem
